.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div img {
  width: 30%;
  border-radius: 10px;
}

.smalldiv {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  margin-top: 10%;
  margin-left: 2%;
}

.smalldiv img {
  width: 15%;
  border-radius: 10px;
  margin: 1%;
}

.h1 {
  text-align: center;
}
