body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5ff;
}
header {
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: rgb(69, 69, 252);
  color: rgb(255, 255, 255);
  margin: 2px;
  border-color: transparent;
  border-radius: 4px;
  padding: 3px 10px;
  font-size: large;
}

button:hover {
  background-color: rgb(235, 234, 234);
  color: rgb(69, 69, 252);
}
